<<<<<<< HEAD
@import "_styleguide.less";
& when (@media-common = true) {
}
=======
@import '_button_adjust.less';
@import '_footer.less';
& when (@media-common = true) {
    
}
.minicart-wrapper .action.showcart:before{
    color: @color-red13;
}

.footer-container {
    max-width: @layout__max-width;
    padding-left: @layout-indent__width;
    padding-right: @layout-indent__width;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
>>>>>>> master
